/*
File Header
*/

/* CSS Global Level Styles and Variables */
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

/* CSS Element Level Styles */
main {
  width: 100vw;
  height: 100vh;

  display: flex;

  background-color: #888888;
}

/* CSS Class Level Styles */
.open-splash {
  margin: 1rem 2rem;
  padding: 0.5rem 1rem;

  background-color: #c7c7c7;

  font-size: 1.54rem;
  font-weight: bold;

  border: none;
  border-radius: 0.25rem;

  cursor: pointer;

  transition: background-color 0.5s, transform 0.5s;
}

.open-splash:hover {
  background-color: #ececec;

  transform: scale(1.1);
}

/* CSS ID Level Styles */
#professional-splash {
  width: 100vw;
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;

  background-color: #7a7a7a;
  background-image: url(./img/professional-splash.png);
  background-position: right bottom;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-origin: border-box;
  background-clip: border-box;
  background-attachment: fixed; */

  clip-path: polygon(75% 0%, 100% 0%, 100% 100%, 25% 100%);
  /* shape-outside: polygon(75% 0%, 100% 0%, 100% 100%, 25% 100%); */
  transition: height 0.5s, clip-path 1s;
}

#open-pro {
  position: absolute;
  bottom: 2.5rem;
  left: calc(50% - 4rem);
}

#personal-splash {
  width: 100vw;
  height: 100vh;

  position: absolute;
  bottom: 0;
  right: 0;

  background-color: #e67e22;
  background-image: url(./img/personal-splash.png);
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-origin: border-box;
  background-clip: border-box;
  background-attachment: fixed; */

  clip-path: polygon(0% 0%, 75% 0%, 25% 100%, 0% 100%);
  transition: height 0.5s, clip-path 1s;
}

#open-per {
  position: absolute;
  top: 2.5rem;
  right: calc(50% - 4rem);
}

@media screen and (max-width: 1800px) {
  #professional-splash {
    height: 50vh;

    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 100%);
  }
  #personal-splash {
    height: 50vh;
    clip-path: polygon(0% 0%, 50% 0%, 100% 100%, 0% 100%);
  }
}

@media screen and (max-width: 770px) {
  #professional-splash {
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 50% 100%, 0% 100%);
  }
  #personal-splash {
    clip-path: polygon(0% 25%, 50% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}